#container {
  display: flex;
  justify-content: center;
}

#table {
  width: 300px;
  height: 300px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.box {
  width: 96px;
  height: 96px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.grid {
  width: 30px;
  height: 30px;
  border: 1px solid;
}
